@reference "../../../index.css";

.header-modal {
    @apply bg-crimson-800 rounded-t-md flex flex-row justify-between items-center p-4 shadow-sm;
}

.label-content {
    @apply flex flex-row items-center gap-3 p-4 bg-white-50 rounded-md w-full;
    flex-wrap: wrap;
}

.label-content span {
    @apply font-krona text-xl w-full;
}

.data-content {
    @apply text-white-50 font-outfit text-xl w-full text-end;
}

/* Responsividade para Modal */
@media (max-width: 1023px) {
    .header-modal {
        padding: 0.75rem;
    }
    
    .label-content {
        padding: 0.75rem;
        gap: 0.5rem;
    }
    
    .label-content span {
        font-size: 1.125rem;
    }
    
    .data-content {
        font-size: 1.125rem;
    }
}

@media (max-width: 767px) {
    .header-modal {
        padding: 0.5rem;
    }
    
    .label-content {
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5rem;
    }
    
    .label-content span {
        font-size: 1rem;
    }
    
    .data-content {
        font-size: 1rem;
        text-align: left;
    }
    
    .label-content img {
        max-width: 100%;
        height: auto;
    }
}
