@reference "../../../index.css";

.card {
    @apply bg-white-50 shadow-md rounded-md min-w-xs;
    flex-shrink: 0;
}

.card-header {
    @apply bg-crimson-800 rounded-t-md flex flex-row justify-between items-center p-4 shadow-sm;
}

.card-header span {
    @apply text-white-50 font-krona text-xs;
}

.card-content {
    @apply flex flex-col items-center w-full gap-2 p-8;
}

.card-description {
    @apply flex flex-row gap-1.5;
}

.card-footer {
    @apply bg-crimson-800 rounded-b-md flex flex-row justify-center items-center p-4 shadow-sm;
}

.icon-info {
    @apply text-white-50 cursor-pointer;
}

.icon-info:hover {
    @apply animate-scale;
}

/* Responsividade Tablet */
@media (max-width: 1023px) {
    .card {
        min-width: 220px;
    }
    
    .card-header,
    .card-footer {
        padding: 0.75rem;
    }
    
    .card-header span {
        font-size: 0.625rem;
    }
    
    .card-content {
        padding: 1.5rem;
        gap: 0.5rem;
    }
}

/* Responsividade Mobile */
@media (max-width: 767px) {
    .card {
        min-width: 180px;
    }
    
    .card-header,
    .card-footer {
        padding: 0.5rem;
    }
    
    .card-header span {
        font-size: 0.5rem;
    }
    
    .card-content {
        padding: 1rem;
    }
    
    .card-content img {
        max-width: 100%;
        height: auto;
    }
}
